<p style="color: green"><%= notice %></p>

<h1>Featured images</h1>

<div id="featured_images">
  <% @featured_images.each do |featured_image| %>
    <%= render featured_image %>
    <p>
      <%= link_to "Show this featured image", featured_image %>
    </p>
  <% end %>
</div>

<%= link_to "New featured image", new_featured_image_path %>
